@require "../node_modules/flexy-grid/flexy-grid.styl"
@require "../node_modules/react-select/dist/react-select.min.css"

@require "./variables"
@require "./selector"
@require "./select"

.metoceanview-creatives-page
  .example
    padding 20px
    border 2px solid black
