.metoceanview-selector
  width 250px
  input
    width 100%
  .list-container
    position relative
  ul
    width 100%
    margin-top 0
    background-color white
    padding 5px
    border-left 1px solid black
    border-right 1px solid black
    border-bottom 1px solid black
    position absolute
  li
    list-style-type none
    text-align left
    cursor pointer
  .selected
    background-color #9CF
